/*Right Sidebar Styles*/
.app-sidebar-content.right-sidebar {
  z-index: 1100;
  @include box-shadow($shadow-xl);
}

.color-theme {
  @include display-flex(flex, column, nowrap);
  max-width: 300px;
  height: 100%;
  background-color: $white;
}

.color-theme-header {
  background-color: $gx-primary;
  color: $white;
  padding: 15px 25px;
  text-transform: uppercase;
  @include display-flex();
  @include align-items(center);
  @include justify-content(space-between);
  max-height: $gx-bar-height;

  & .color-theme-title {
    margin-bottom: 0;
  }
}

.color-theme-body {
  position: relative;
  padding: 28px 25px;
  height: calc(100vh - #{$gx-bar-height});

  & h3 {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 499px) {
    padding: 25px 15px;
  }
}

.color-option {
  list-style: none;
  padding-left: 0;
  margin: 0 -5px 10px;
  overflow: hidden;

  & li {
    position: relative;
    float: left;
    padding: 0 5px;
    margin-bottom: 5px;
  }

  & li a {
    @extend %size-50;
    display: inline-block;
    color: transparent;
    position: relative;

    &:before {
      content: "\f26b";
      font-family: "Material-Design-Iconic-Font";
      font-size: 20px;
      @extend %size-50;
      position: absolute;
      top: 0;
      left: 0;
      color: $white;
      text-align: center;
      display: none;
      z-index: 2;
    }
  }

  & li a.active {
    &:before {
      display: block;
    }
  }
}

.cr-op-dark-sidebar {
  & li a {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background-color: $body-color;
      width: 8px;
    }
  }
}

//Coustomizer css
.theme-option {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 1000;
  background-color: map-get($purple, base);
  @include border-left-radius($border-radius);
  @include box-shadow(1px 1px 4px rgba($black, 0.5));
  color: $white;

  & .action-btn {
    height: $size-50;
    width: $size-50;
  }
}

@media screen and (max-width: 499px) {
  .color-theme .gx-btn {
    padding: 10px 15px;
  }
}
