/*Theme Deep Purple Styles*/
$app-primary-deep-purple: #673ab7 !default;
$secondary-deep-purple: #FFAB00;

$sidebar-deep-purple: $white !default;
$sidebar-text-deep-purple: #868e96 !default;

//-Base-scss
.deep-purple .right-arrow {
  color: $app-primary-deep-purple;
  &:after {
    color: $app-primary-deep-purple;
  }
}

//- Bootstrap file Style
.deep-purple {
  & a,
  & a.text-primary {
    color: $app-primary-deep-purple;
    &:focus,
    &:hover {
      color: darken($app-primary-deep-purple, 10%);
    }
  }

  & .text-primary {
    color: $app-primary-deep-purple !important;
  }

  & .page-link {
    color: $app-primary-deep-purple;
    &:focus,
    &:hover {
      color: $app-primary-deep-purple;
    }
  }

  & .bg-primary,
  & .badge-primary {
    background-color: $app-primary-deep-purple !important;
    color: $sidebar-deep-purple !important;
  }

  & .btn-primary {
    background-color: $app-primary-deep-purple;
    border-color: $app-primary-deep-purple;
    color: $sidebar-deep-purple;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($app-primary-deep-purple, 5%) !important;
      border-color: darken($app-primary-deep-purple, 5%) !important;
      color: $sidebar-deep-purple !important;
    }
  }

  & .bg-primary {
    &.lighten-4 {
      background-color: #d1c4e9 !important;
    }

    &.lighten-3 {
      background-color: #b39ddb !important;
    }

    &.lighten-2 {
      background-color: #9575cd !important;
    }

    &.lighten-1 {
      background-color: #7e57c2 !important;
    }

    &.darken-1 {
      background-color: #5e35b1 !important;
    }

    &.darken-2 {
      background-color: #512da8 !important;
    }

    &.darken-3 {
      background-color: #4527a0 !important;
    }

    &.darken-4 {
      background-color: #311b92 !important;
    }

    &.accent-1 {
      background-color: #b388ff !important;
    }

    &.accent-2 {
      background-color: #7c4dff !important;
    }

    &.accent-3 {
      background-color: #651fff !important;
    }

    &.accent-4 {
      background-color: #6200ea !important;
    }
  }
}

//Secondary
.deep-purple {
  & a.text-secondary {
    color: $secondary-deep-purple;
    &:focus,
    &:hover {
      color: darken($secondary-deep-purple, 10%) !important;
    }
  }

  & .text-secondary {
    color: $secondary-deep-purple !important;
  }

  & .bg-secondary,
  & .badge-secondary {
    background-color: $secondary-deep-purple !important;
    color: $sidebar-deep-purple !important;
  }

  & .btn-secondary {
    background-color: $secondary-deep-purple;
    border-color: $secondary-deep-purple;
    color: $sidebar-deep-purple;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($secondary-deep-purple, 5%) !important;
      border-color: darken($secondary-deep-purple, 5%) !important;
      color: $sidebar-deep-purple !important;
    }
  }
}

//_header.scss
.deep-purple .app-main-header {
  background-color: $app-primary-deep-purple !important;

  & .search-bar input {
    background-color: lighten($app-primary-deep-purple, 5%);

    &:focus {
      background-color: $white;
    }
  }

  & .search-dropdown input {
    @media screen and (max-width: 575px) {
      background-color: $white;
    }
  }
}

//_right-sidebar.scss
.deep-purple .color-theme-header {
  background-color: $app-primary-deep-purple;

}

//_sidebar.scss
.deep-purple .side-nav {
  background-color: $sidebar-deep-purple !important;
  color: $sidebar-text-deep-purple !important;
  @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.15));

  & .user-profile {
    background-color: $sidebar-deep-purple;
    @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.15));
    position: relative;
    z-index: 2;
  }

  & .customizer {
    border-bottom: solid 1px lighten($sidebar-text-deep-purple, 35%);
  }

  & .user-detail {
    & .user-name {
      color: $app-primary-deep-purple;
    }
  }
}

.deep-purple ul.nav-menu li a {
  color: $sidebar-text-deep-purple;
}

.deep-purple ul.nav-menu {
  & .nav-header {
    color: $sidebar-text-deep-purple;
  }
}

.deep-purple ul.nav-menu > li.open > a,
.deep-purple ul.nav-menu > li > a:hover,
.deep-purple ul.nav-menu > li > a:focus {
  background-color: $sidebar-deep-purple;
  color: $app-primary-deep-purple;
}

.deep-purple ul.nav-menu li.menu.open > a {
  border-color: $app-primary-deep-purple;
}

.deep-purple ul.nav-menu li.menu > a:focus:before,
.deep-purple ul.nav-menu li.menu > a:hover:before {
  color: $app-primary-deep-purple;
}

.deep-purple ul.nav-menu li ul {
  background-color: $sidebar-deep-purple;
}

.deep-purple ul.nav-menu li.menu > a:before {
  color: $sidebar-text-deep-purple;
}

.deep-purple ul.nav-menu li.menu.open > a:before,
.deep-purple ul.nav-menu li.menu > a:focus:before,
.deep-purple ul.nav-menu li.menu li > a:hover:before {
  color: $app-primary-deep-purple;
}

.deep-purple ul.nav-menu li.menu .sub-menu li > a:before {
  color: $sidebar-text-deep-purple;
}

.deep-purple ul.nav-menu li.menu.open .sub-menu li > a.active {
  background-color: $sidebar-deep-purple;
  color: $app-primary-deep-purple;
}

.deep-purple ul.nav-menu li.menu .sub-menu li > a:hover,
.deep-purple ul.nav-menu li.menu .sub-menu li > a:focus,
.deep-purple ul.nav-menu li.menu.open .sub-menu li > a.active:before,
.deep-purple ul.nav-menu li.menu .sub-menu li > a:focus:before,
.deep-purple ul.nav-menu li.menu .sub-menu li > a:hover:before {
  background-color: $sidebar-deep-purple;
  color: $app-primary-deep-purple;
}

//_app-module.scss
.deep-purple .module-nav {
  & li a {
    &.active {
      border-color: $app-primary-deep-purple;
    }
  }
}

//_calendar.scss
.deep-purple .rbc-event {
  background-color: $app-primary-deep-purple;
}

.deep-purple .rbc-event.rbc-selected {
  background-color: darken($app-primary-deep-purple, 10%);
}

.deep-purple .rbc-slot-selection {
  background-color: rgba($app-primary-deep-purple, 0.7);
}

.deep-purple .rbc-toolbar button:active,
.deep-purple .rbc-toolbar button.rbc-active {
  background-color: rgba($app-primary-deep-purple, 0.9);
  border-color: $app-primary-deep-purple;
}

.deep-purple .rbc-toolbar button:active:hover,
.deep-purple .rbc-toolbar button.rbc-active:hover,
.deep-purple .rbc-toolbar button:active:focus,
.deep-purple .rbc-toolbar button.rbc-active:focus {
  background-color: rgba($app-primary-deep-purple, 0.9);
  border-color: $app-primary-deep-purple;
}

.deep-purple .rbc-toolbar button:focus {
  background-color: rgba($app-primary-deep-purple, 0.9);
  border-color: $app-primary-deep-purple;
}

.deep-purple .rbc-toolbar button:hover {
  background-color: rgba($app-primary-deep-purple, 0.9);
  border-color: $app-primary-deep-purple;
}

//_chat.scss
.deep-purple .chat-sidenav-title {
  color: $app-primary-deep-purple;
}

.deep-purple .chat-user-item {
  &.active,
  &:hover {
    background-color: lighten($app-primary-deep-purple, 45%);
  }
}

//_dashboard.scss
.deep-purple .contact-list {
  & i {
    color: $app-primary-deep-purple;
  }
}

//The link which when clicked opens the collapsable ChatUserList
.deep-purple .Collapsible__trigger {
  background: $app-primary-deep-purple;
}

.deep-purple .categories-list {
  & li a:focus,
  & li a:hover,
  & li.active a {
    color: $app-primary-deep-purple;
  }
}

//_login.scss
.deep-purple .login-content .form-control {
  &:focus {
    border-color: $app-primary-deep-purple;
  }
}

//_portfolio.scss
.deep-purple .filter-with-bg-color ul li {
  & a {
    border-color: $app-primary-deep-purple;

    &:hover,
    &:focus,
    &.active {
      background-color: $app-primary-deep-purple;
    }
  }
}

//_card.scss
.deep-purple .profile-intro {
  & .icon {
    color: $app-primary-deep-purple;
  }
}

.deep-purple .social-link {
  & li.active a,
  & li a:hover,
  & li a:focus {
    color: $secondary-deep-purple;
  }
}

//_tables.scss
.deep-purple .actions {
  color: $secondary-deep-purple;
}

.deep-purple .table-hover tbody tr:hover {
  background-color: rgba($app-primary-deep-purple, 0.075);
}

//Border Color

.deep-purple .border-primary {
  border-color: $app-primary-deep-purple !important;
}

// login page content

.deep-purple .app-logo-content {
  background-color: $app-primary-deep-purple;
}

.deep-purple .app-social-block {
  & .social-link button {
    border: solid 1px $app-primary-deep-purple;
    color: $app-primary-deep-purple;

    &:hover,
    &:focus {
      color: $white;
      background-color: $app-primary-deep-purple;
    }
  }
}