/*Theme Deep Orange Styles*/
$app-primary-deep-orange: #ff5722 !default;
$secondary-deep-orange: #40C4FF;

$sidebar-deep-orange: $white !default;
$sidebar-text-deep-orange: #868e96 !default;

//-Base-scss
.deep-orange .right-arrow {
  color: $app-primary-deep-orange;
  &:after {
    color: $app-primary-deep-orange;
  }
}

//- Bootstrap file Style
.deep-orange {
  & a,
  & a.text-primary {
    color: $app-primary-deep-orange;
    &:focus,
    &:hover {
      color: darken($app-primary-deep-orange, 10%);
    }
  }

  & .text-primary {
    color: $app-primary-deep-orange !important;
  }

  & .page-link {
    color: $app-primary-deep-orange;
    &:focus,
    &:hover {
      color: $app-primary-deep-orange;
    }
  }

  & .bg-primary,
  & .badge-primary {
    background-color: $app-primary-deep-orange !important;
    color: $sidebar-deep-orange !important;
  }

  & .btn-primary {
    background-color: $app-primary-deep-orange;
    border-color: $app-primary-deep-orange;
    color: $sidebar-deep-orange;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($app-primary-deep-orange, 5%) !important;
      border-color: darken($app-primary-deep-orange, 5%) !important;
      color: $sidebar-deep-orange !important;
    }
  }

  & .bg-primary {
    &.lighten-4 {
      background-color: #ffccbc !important;
    }

    &.lighten-3 {
      background-color: #ffab91 !important;
    }

    &.lighten-2 {
      background-color: #ff8a65 !important;
    }

    &.lighten-1 {
      background-color: #ff7043 !important;
    }

    &.darken-1 {
      background-color: #f4511e !important;
    }

    &.darken-2 {
      background-color: #e64a19 !important;
    }

    &.darken-3 {
      background-color: #d84315 !important;
    }

    &.darken-4 {
      background-color: #bf360c !important;
    }

    &.accent-1 {
      background-color: #ff9e80 !important;
    }

    &.accent-2 {
      background-color: #ff6e40 !important;
    }

    &.accent-3 {
      background-color: #ff3d00 !important;
    }

    &.accent-4 {
      background-color: #dd2c00 !important;
    }
  }
}

//Secondary
.deep-orange {
  & a.text-secondary {
    color: $secondary-deep-orange;
    &:focus,
    &:hover {
      color: darken($secondary-deep-orange, 10%) !important;
    }
  }

  & .text-secondary {
    color: $secondary-deep-orange !important;
  }

  & .bg-secondary,
  & .badge-secondary {
    background-color: $secondary-deep-orange !important;
    color: $sidebar-deep-orange !important;
  }

  & .btn-secondary {
    background-color: $secondary-deep-orange;
    border-color: $secondary-deep-orange;
    color: $sidebar-deep-orange;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($secondary-deep-orange, 5%) !important;
      border-color: darken($secondary-deep-orange, 5%) !important;
      color: $sidebar-deep-orange !important;
    }
  }
}

//_header.scss
.deep-orange .app-main-header {
  background-color: $app-primary-deep-orange !important;

  & .search-bar input {
    background-color: lighten($app-primary-deep-orange, 5%);

    &:focus {
      background-color: $white;
    }
  }

  & .search-dropdown input {
    @media screen and (max-width: 575px) {
      background-color: $white;
    }
  }
}

//_right-sidebar.scss
.deep-orange .color-theme-header {
  background-color: $app-primary-deep-orange;

}

//_sidebar.scss
.deep-orange .side-nav {
  background-color: $sidebar-deep-orange !important;
  color: $sidebar-text-deep-orange !important;
  @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.15));

  & .user-profile {
    background-color: $sidebar-deep-orange;
    @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.15));
    position: relative;
    z-index: 2;
  }

  & .customizer {
    border-bottom: solid 1px lighten($sidebar-text-deep-orange, 35%);
  }

  & .user-detail {
    & .user-name {
      color: $app-primary-deep-orange;
    }
  }
}

.deep-orange ul.nav-menu li a {
  color: $sidebar-text-deep-orange;
}

.deep-orange ul.nav-menu {
  & .nav-header {
    color: $sidebar-text-deep-orange;
  }
}

.deep-orange ul.nav-menu > li.open > a,
.deep-orange ul.nav-menu > li > a:hover,
.deep-orange ul.nav-menu > li > a:focus {
  background-color: $sidebar-deep-orange;
  color: $app-primary-deep-orange;
}

.deep-orange ul.nav-menu li.menu.open > a {
  border-color: $app-primary-deep-orange;
}

.deep-orange ul.nav-menu li.menu > a:focus:before,
.deep-orange ul.nav-menu li.menu > a:hover:before {
  color: $app-primary-deep-orange;
}

.deep-orange ul.nav-menu li ul {
  background-color: $sidebar-deep-orange;
}

.deep-orange ul.nav-menu li.menu > a:before {
  color: $sidebar-text-deep-orange;
}

.deep-orange ul.nav-menu li.menu.open > a:before,
.deep-orange ul.nav-menu li.menu > a:focus:before,
.deep-orange ul.nav-menu li.menu li > a:hover:before {
  color: $app-primary-deep-orange;
}

.deep-orange ul.nav-menu li.menu .sub-menu li > a:before {
  color: $sidebar-text-deep-orange;
}

.deep-orange ul.nav-menu li.menu.open .sub-menu li > a.active {
  background-color: $sidebar-deep-orange;
  color: $app-primary-deep-orange;
}

.deep-orange ul.nav-menu li.menu .sub-menu li > a:hover,
.deep-orange ul.nav-menu li.menu .sub-menu li > a:focus,
.deep-orange ul.nav-menu li.menu.open .sub-menu li > a.active:before,
.deep-orange ul.nav-menu li.menu .sub-menu li > a:focus:before,
.deep-orange ul.nav-menu li.menu .sub-menu li > a:hover:before {
  background-color: $sidebar-deep-orange;
  color: $app-primary-deep-orange;
}

//_app-module.scss
.deep-orange .module-nav {
  & li a {
    &.active {
      border-color: $app-primary-deep-orange;
    }
  }
}

//_calendar.scss
.deep-orange .rbc-event {
  background-color: $app-primary-deep-orange;
}

.deep-orange .rbc-event.rbc-selected {
  background-color: darken($app-primary-deep-orange, 10%);
}

.deep-orange .rbc-slot-selection {
  background-color: rgba($app-primary-deep-orange, 0.7);
}

.deep-orange .rbc-toolbar button:active,
.deep-orange .rbc-toolbar button.rbc-active {
  background-color: rgba($app-primary-deep-orange, 0.9);
  border-color: $app-primary-deep-orange;
}

.deep-orange .rbc-toolbar button:active:hover,
.deep-orange .rbc-toolbar button.rbc-active:hover,
.deep-orange .rbc-toolbar button:active:focus,
.deep-orange .rbc-toolbar button.rbc-active:focus {
  background-color: rgba($app-primary-deep-orange, 0.9);
  border-color: $app-primary-deep-orange;
}

.deep-orange .rbc-toolbar button:focus {
  background-color: rgba($app-primary-deep-orange, 0.9);
  border-color: $app-primary-deep-orange;
}

.deep-orange .rbc-toolbar button:hover {
  background-color: rgba($app-primary-deep-orange, 0.9);
  border-color: $app-primary-deep-orange;
}

//_chat.scss
.deep-orange .chat-sidenav-title {
  color: $app-primary-deep-orange;
}

.deep-orange .chat-user-item {
  &.active,
  &:hover {
    background-color: lighten($app-primary-deep-orange, 45%);
  }
}

//_dashboard.scss
.deep-orange .contact-list {
  & i {
    color: $app-primary-deep-orange;
  }
}

//The link which when clicked opens the collapsable ChatUserList
.deep-orange .Collapsible__trigger {
  background: $app-primary-deep-orange;
}

.deep-orange .categories-list {
  & li a:focus,
  & li a:hover,
  & li.active a {
    color: $app-primary-deep-orange;
  }
}

//_login.scss
.deep-orange .login-content .form-control {
  &:focus {
    border-color: $app-primary-deep-orange;
  }
}

//_portfolio.scss
.deep-orange .filter-with-bg-color ul li {
  & a {
    border-color: $app-primary-deep-orange;

    &:hover,
    &:focus,
    &.active {
      background-color: $app-primary-deep-orange;
    }
  }
}

//_card.scss
.deep-orange .profile-intro {
  & .icon {
    color: $app-primary-deep-orange;
  }
}

.deep-orange .social-link {
  & li.active a,
  & li a:hover,
  & li a:focus {
    color: $secondary-deep-orange;
  }
}

//_tables.scss
.deep-orange .actions {
  color: $secondary-deep-orange;
}

.deep-orange .table-hover tbody tr:hover {
  background-color: rgba($app-primary-deep-orange, 0.075);
}

//Border Color

.deep-orange .border-primary {
  border-color: $app-primary-deep-orange !important;
}

// login page content

.deep-orange .app-logo-content {
  background-color: $app-primary-deep-orange;
}

.deep-orange .app-social-block {
  & .social-link button {
    border: solid 1px $app-primary-deep-orange;
    color: $app-primary-deep-orange;

    &:hover,
    &:focus {
      color: $white;
      background-color: $app-primary-deep-orange;
    }
  }
}