/*Theme Pink Styles*/
$app-primary-pink: #e91e63 !default;
$secondary-pink: #00BFA5;

$sidebar-pink: $white !default;
$sidebar-text-pink: #868e96 !default;

//-Base-scss
.pink .right-arrow {
  color: $app-primary-pink;
  &:after {
    color: $app-primary-pink;
  }
}

//- Bootstrap file Style
.pink {
  & a,
  & a.text-primary {
    color: $app-primary-pink;
    &:focus,
    &:hover {
      color: darken($app-primary-pink, 10%);
    }
  }

  & .text-primary {
    color: $app-primary-pink !important;
  }

  & .page-link {
    color: $app-primary-pink;
    &:focus,
    &:hover {
      color: $app-primary-pink;
    }
  }

  & .bg-primary,
  & .badge-primary {
    background-color: $app-primary-pink !important;
    color: $sidebar-pink !important;
  }

  & .btn-primary {
    background-color: $app-primary-pink;
    border-color: $app-primary-pink;
    color: $sidebar-pink;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($app-primary-pink, 5%) !important;
      border-color: darken($app-primary-pink, 5%) !important;
      color: $sidebar-pink !important;
    }
  }

  & .bg-primary {
    &.lighten-4 {
      background-color: #f8bbd0 !important;
    }

    &.lighten-3 {
      background-color: #f48fb1 !important;
    }

    &.lighten-2 {
      background-color: #f06292 !important;
    }

    &.lighten-1 {
      background-color: #ec407a !important;
    }

    &.darken-1 {
      background-color: #d81b60 !important;
    }

    &.darken-2 {
      background-color: #c2185b !important;
    }

    &.darken-3 {
      background-color: #ad1457 !important;
    }

    &.darken-4 {
      background-color: #880e4f !important;
    }

    &.accent-1 {
      background-color: #ff80ab !important;
    }

    &.accent-2 {
      background-color: #ff4081 !important;
    }

    &.accent-3 {
      background-color: #f50057 !important;
    }

    &.accent-4 {
      background-color: #c51162 !important;
    }
  }
}

//Secondary
.deep-orange {
  & a.text-secondary {
    color: $secondary-pink;
    &:focus,
    &:hover {
      color: darken($secondary-pink, 10%) !important;
    }
  }

  & .text-secondary {
    color: $secondary-pink !important;
  }

  & .bg-secondary,
  & .badge-secondary {
    background-color: $secondary-pink !important;
    color: $sidebar-pink !important;
  }

  & .btn-secondary {
    background-color: $secondary-pink;
    border-color: $secondary-pink;
    color: $sidebar-pink;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($secondary-pink, 5%) !important;
      border-color: darken($secondary-pink, 5%) !important;
      color: $sidebar-pink !important;
    }
  }
}

//_header.scss
.pink .app-main-header {
  background-color: $app-primary-pink !important;

  & .search-bar input {
    background-color: lighten($app-primary-pink, 5%);

    &:focus {
      background-color: $white;
    }
  }

  & .search-dropdown input {
    @media screen and (max-width: 575px) {
      background-color: $white;
    }
  }
}

//_right-sidebar.scss
.pink .color-theme-header {
  background-color: $app-primary-pink;

}

//_sidebar.scss
.pink .side-nav {
  background-color: $sidebar-pink !important;
  color: $sidebar-text-pink !important;
  @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.15));

  & .user-profile {
    background-color: $sidebar-pink;
    @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.15));
    position: relative;
    z-index: 2;
  }

  & .customizer {
    border-bottom: solid 1px lighten($sidebar-text-pink, 35%);
  }

  & .user-detail {
    & .user-name {
      color: $app-primary-pink;
    }
  }
}

.pink ul.nav-menu li a {
  color: $sidebar-text-pink;
}

.pink ul.nav-menu {
  & .nav-header {
    color: $sidebar-text-pink;
  }
}

.pink ul.nav-menu > li.open > a,
.pink ul.nav-menu > li > a:hover,
.pink ul.nav-menu > li > a:focus {
  background-color: $sidebar-pink;
  color: $app-primary-pink;
}

.pink ul.nav-menu li.menu.open > a {
  border-color: $app-primary-pink;
}

.pink ul.nav-menu li.menu > a:focus:before,
.pink ul.nav-menu li.menu > a:hover:before {
  color: $app-primary-pink;
}

.pink ul.nav-menu li ul {
  background-color: $sidebar-pink;
}

.pink ul.nav-menu li.menu > a:before {
  color: $sidebar-text-pink;
}

.pink ul.nav-menu li.menu.open > a:before,
.pink ul.nav-menu li.menu > a:focus:before,
.pink ul.nav-menu li.menu li > a:hover:before {
  color: $app-primary-pink;
}

.pink ul.nav-menu li.menu .sub-menu li > a:before {
  color: $sidebar-text-pink;
}

.pink ul.nav-menu li.menu.open .sub-menu li > a.active {
  background-color: $sidebar-pink;
  color: $app-primary-pink;
}

.pink ul.nav-menu li.menu .sub-menu li > a:hover,
.pink ul.nav-menu li.menu .sub-menu li > a:focus,
.pink ul.nav-menu li.menu.open .sub-menu li > a.active:before,
.pink ul.nav-menu li.menu .sub-menu li > a:focus:before,
.pink ul.nav-menu li.menu .sub-menu li > a:hover:before {
  background-color: $sidebar-pink;
  color: $app-primary-pink;
}

//_app-module.scss
.pink .module-nav {
  & li a {
    &.active {
      border-color: $app-primary-pink;
    }
  }
}

//_calendar.scss
.pink .rbc-event {
  background-color: $app-primary-pink;
}

.pink .rbc-event.rbc-selected {
  background-color: darken($app-primary-pink, 10%);
}

.pink .rbc-slot-selection {
  background-color: rgba($app-primary-pink, 0.7);
}

.pink .rbc-toolbar button:active,
.pink .rbc-toolbar button.rbc-active {
  background-color: rgba($app-primary-pink, 0.9);
  border-color: $app-primary-pink;
}

.pink .rbc-toolbar button:active:hover,
.pink .rbc-toolbar button.rbc-active:hover,
.pink .rbc-toolbar button:active:focus,
.pink .rbc-toolbar button.rbc-active:focus {
  background-color: rgba($app-primary-pink, 0.9);
  border-color: $app-primary-pink;
}

.pink .rbc-toolbar button:focus {
  background-color: rgba($app-primary-pink, 0.9);
  border-color: $app-primary-pink;
}

.pink .rbc-toolbar button:hover {
  background-color: rgba($app-primary-pink, 0.9);
  border-color: $app-primary-pink;
}

//_chat.scss
.pink .chat-sidenav-title {
  color: $app-primary-pink;
}

.pink .chat-user-item {
  &.active,
  &:hover {
    background-color: lighten($app-primary-pink, 45%);
  }
}

//_dashboard.scss
.pink .contact-list {
  & i {
    color: $app-primary-pink;
  }
}

//The link which when clicked opens the collapsable ChatUserList
.pink .Collapsible__trigger {
  background: $app-primary-pink;
}

.pink .categories-list {
  & li a:focus,
  & li a:hover,
  & li.active a {
    color: $app-primary-pink;
  }
}

//_login.scss
.pink .login-content .form-control {
  &:focus {
    border-color: $app-primary-pink;
  }
}

//_portfolio.scss
.pink .filter-with-bg-color ul li {
  & a {
    border-color: $app-primary-pink;

    &:hover,
    &:focus,
    &.active {
      background-color: $app-primary-pink;
    }
  }
}

//_card.scss
.pink .profile-intro {
  & .icon {
    color: $app-primary-pink;
  }
}

.pink .social-link {
  & li.active a,
  & li a:hover,
  & li a:focus {
    color: $secondary-pink;
  }
}

//_tables.scss
.pink .actions {
  color: $secondary-pink;
}

.pink .table-hover tbody tr:hover {
  background-color: rgba($app-primary-pink, 0.075);
}

//Border Color

.pink .border-primary {
  border-color: $app-primary-pink !important;
}

// login page content

.pink .app-logo-content {
  background-color: $app-primary-pink;
}

.pink .app-social-block {
  & .social-link button {
    border: solid 1px $app-primary-pink;
    color: $app-primary-pink;

    &:hover,
    &:focus {
      color: $white;
      background-color: $app-primary-pink;
    }
  }
}