@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

body{
	font-family: 'Roboto', sans-serif;
	background-color: #E9EBEE;
}

.jumbotron h1, .jumbotron .h1 {
	font-size: 54px;
}

@media screen and (min-width: 768px) {

.jumbotron h1, .jumbotron .h1 {
	font-size: 54px;
}

}
h2 {
	font-size: 30px;	
}

.index-table ul.index {
	list-style: none;
	padding-left: 0;
}

.index-table ul li a {
	line-height: 1.5;
	font-size: 17px;
}

p {
	font-size: 15px;
}

h1, h2 {
	font-weight: 300;
	line-height: 1.3;
}

hr{
	border-color: #ccc !important;
	border-width: thin;
}

a{
	color: #1043ae;
	text-decoration: none !important;
}

a:hover{
	color: #2117e3;
}

.anchor{
	padding-top: 45px;
}

.navbar-brand-padding{
	padding-top: 0px;
}

.navbar-inverse{
	border-bottom: none;
	background-color: #333333 !important;
}

.scroll-to-top{
	font-size: 14px;
	font-weight: 400;
	color: #1043ae;
}

.jumbotron{
	background-color: #F7F7F9;
	margin-top: 50px
}

.jumbotron p{
	font-size: 16px;
	color: #666;
	font-weight: 300;
}

.jumbotron p.sub-heading {
	font-size: 20px;
}

b, strong {
	font-weight: 400;
	font-size: 16px;
}
.skins-screenshots{
	margin-bottom: 20px;
	margin-top: 20px;
}

ul.list{
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
}

.circle{
	height: 12px;
	width: 12px;
	margin-right: 10px;
	background-color: #667BF8;
	border-radius: 50%;
	display: inline-block
}

.circle.red{
	background-color: #FF1818;
}

.circle.yellow{
	background-color: #EBF909;
}

.circle.black{
	background-color: #000000;
}

.circle.light-blue{
	background-color: #0BF7DE;
}

.circle.purple{
	background-color: #F70BEA;
}

.circle.green{
	background-color: #40CB39;
}

.panel-heading {
	padding: 25px 20px;
}

.panel-body {
	padding: 20px;
}

footer{
	background-color: #666;
	width: 100%;
	color: #E5E4EA;
	padding-top: 10px;
	padding-right: 20px;
	font-size: 12px;
	text-align: right;
	position: absolute;
}

.img-overlay {
    position: relative;
    max-width: 600px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3B5998;
	opacity: 0;
    padding: 0px;
	color: #fff;
}

.overlay:hover{
	opacity: 0.8;
}